name: Create/update tag
on:
  push:
    branch: "jr0013909-superlinter-1"
jobs:
  create-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dockerdevtestbot/action-create-tag@v1
        with:
          tag: "latest"
          message: "Latest release"
